.Bookpic {
  max-width: 100%;
  width: 150px;
  height: 200px;
  background-color: #dfccfb;
  border-radius: 10%;
  text-align: center;
}

.SingleBook {
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  padding: 10px;

  display: flex; /* 요소를 가로로 정렬하기 위해 Flexbox 레이아웃을 사용 */
  align-items: center; /* 요소를 수직으로 중앙 정렬 */
  justify-content: center;
}

.SetOfBooks {
}

.BooksLists {
  display: flex;
  /* justify-content: center; */
  padding: 20px;
  margin: 10px;
  border: solid #beadfa;
  border-radius: 20px;

  .BorrowBook {
    background-color: #d2e0fb;
  }
}

.RecommandBooks {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  overflow: auto;

  background-color: #d7e5ca;
  /* overflow: auto; */
  overflow: auto;
}
